.foto{
    display: grid;
    grid-template-columns: 44.1% 55%;
    grid-template-rows: auto;
    height: calc(115vh - 50px);
}

.fotao{
    background: url(../img/lohp_1302x955.png) center no-repeat;
    grid-column: 1 / 1;
}

.icon{
    width: 55%;
    height: auto;
    margin: 13rem 9em;

}

.login{
    display: flex;
    gap: 9rem;
    grid-column: 2 / 2;
    flex-direction: column;
    justify-content: center;
    padding: 1px 0 0 40px;
    

}
.logott{
    width: 5.9%;
    /* margin: -30px -20px 10px; */
   margin: 2rem 0 -40px;
    
}

.titulos{
    color: white;
    font-size: 79px;
    margin: -3rem 0 -100px;
    font-weight: 900;
    font-style: italic;
    
    
}
.texto{
    color: white;
    font-size: 38px;
    margin-bottom: -100px;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
}

.botoesgeral{
    padding: 12px 50px 12px 50px;
    border: 1px solid white;
    border-radius: 10rem;
    margin-bottom: 10px;
}

.google{
    color: #575757;
    font-size: 15px;
}

.apple{
    font-size: 15px;
}

.ou{
    color: white;
    margin: 0 9rem 10px;
    
}

.icongeral{
    width: 12%;
    margin: -8px 4px;
    
}

.cell{
    padding: 12px 23px 12px 20px;
    border: 1px white;
    border-radius: 10rem;
    font-size: 15px;
    background: #25a5fa;
    color: white;
    font-weight: bolder;
    
}

.termos{
    font-size: 12px;
    color: rgb(131, 131, 131);
    font-family: sans-serif;
}

strong{
    color: #25a5fa;
}
strong:hover{
    text-decoration: underline;
    cursor: pointer;
}

.jaconta{
    color: white;
    margin-top: 3rem;
}

.entrar{
    background-color: #000000;
    font-size: 20px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 30px;  
    margin-top: 1rem;
    padding: 12px 8rem;
    color: #25a5fa;
}

.rodape{
    color: white;
    text-align: center;
    margin-left: 1rem;
    font-size: 50px;
}

.unofficial{
    position: absolute;
    width: 10%;
    border-radius: 50%;
} 